#main-menu { 

	list-style-type: none; 
	
	
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 50px; 
  margin: 10px
}
  
 #main-menu a {
	 
  text-decoration: none;
  }
  
  #main-menu a:hover { 

	color: white; 
	background: #BEB7A4; 
	
	main {
		
	background: #d6ccc2 ;
	display: flex; 
	flex-wrap:wrap; 
	justify-content: center;
	
	figure {
  margin: 0;
  padding: 0;
}

figure img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto; /* Keskittää kuvan */
  border-radius: 10px; /* Pyöreät reunat */
  overflow: hidden;
  
  .highlight {
  font-weight: bold;
  color: #BEB7A4; /* punainen väri esimerkiksi */
}